.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
_output/
.DS_Store
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.tex
/*_files/
nul
.ipynb_checkpoints/
*~
*.tmp
*.temp
.env
**/*.quarto_ipynb
docs2/
